.container {
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 5px 0;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  font-weight: bold;
}

.registro {
  background-color: #eee;
  padding: 10px 15px;
  min-width: 150px;
  text-align: center;
}
.registro .user_name {
  margin: 25px 0;
  border-radius: 20px;
  max-width: 450px;
}
@media (min-width: 992px) {
  .registro .user_name {
    margin: 0;
    width: 300px;
    margin-left: -30px;
  }
}
.registro .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.registro__reg {
  margin: 30px 0 0;
}
.registro__form-registro {
  padding: 10px;
}
@media (min-width: 992px) {
  .registro__form-registro {
    width: 700px;
  }
}
.registro__form-registro input {
  margin: 0 15px;
}

#container_chat {
  display: none;
}

.container-chat {
  display: flex;
  justify-content: center;
}
.container-chat textarea {
  resize: none;
  border-radius: 10px;
  width: 100%;
}
.container-chat__form_message .msg {
  width: 500px;
  border: 2px solid #76426e;
  border-radius: 33px;
}
.container-chat input {
  border: 3px solid gray;
}/*# sourceMappingURL=style.css.map */